<!DOCTYPE html>
<html>
  <head>
    <title>FlowerShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg py-0 navbar-custom" style="" id="link-style">
      <%= link_to root_path, class: 'logo-style' do%>
        <%= image_tag 'logo.png', width: 50, height: 45, alt: 'logo', id: 'logo' %>
      <% end %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-1">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Выход', destroy_user_session_path, method: :delete, class: 'nav-link navbar-text' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Вход', new_user_session_path, class: 'nav-link navbar-text' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Регистрация', new_user_registration_path, class: 'nav-link navbar-text' %>
            </li>
          <% end %>

          <li>
            <%= link_to 'Корзина', cart_path(session[:cart_id] || 0), class: 'nav-link navbar-text' %>
          </li>
        </ul>
      </div>
    </nav>
    <!-- ./Navbar -->
    <!-- Menu -->
    <div class="container btn-group-alignment" id="link-style">
      <div class="btn-group">
        <!-- Products -->
        <% Category.all.each do |category| %>
          <div class="dropdown">
            <a class="nav-link dropdown-toggle navbar-text btn" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= category.title %></a>
            <div class="dropdown-menu">
              <% category.subcategories.each do |subcat| %>
                <%= link_to subcat.name, subcategory_path(subcat.id), class: 'dropdown-item' %>
              <% end %>
            </div>
          </div>
        <% end %>
        <!-- Inspiration -->
        <a class="nav-link navbar-text btn" href="#">Вдохновение</a>
        <!-- Contact -->
        <a class="nav-link navbar-text btn" href="#">Контакты</a>
        <!-- Search -->
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2  input-change" type="search" placeholder="Поиск" aria-label="Search">
          <button class="btn btn-sm my-2 my-sm-0 btn-change" type="submit">Поиск</button>
        </form>
      </div>
    </div>
    <!-- ./Menu -->
    <div class="row">
      <div class="col-md-12">
        <% flash.each do |name,message| %>
          <div class="alert <%= bootstrap_class_for(name) %>">
            <button class="close" data-dismiss="alert">&times;</button>
            <%= message %>
          </div>
        <% end %>
      </div>
    </div>
    <%= yield %>
    <!-- Footer -->
    <section class="section-title" id="footer">
      <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h5>Полезные ссылки</h5>
            <ul class="list-unstyled quick-links">
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Главная</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>О компании</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Вопрос/Ответ</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Видео</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h5>Полезные ссылки</h5>
            <ul class="list-unstyled quick-links">
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Главная</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>О компании</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Вопрос/Ответ</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Видео</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h5>Полезные ссылки</h5>
            <ul class="list-unstyled quick-links">
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Главная</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>О компании</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Вопрос/Ответ</a></li>
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Видео</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
            <ul class="list-unstyled list-inline social text-center">
              <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
            </ul>
          </div>
          </hr>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
            <p><u><a href="https://www.nationaltransaction.com/">Частное торговое предприятие</a></u> 220089, Республика Беларусь, г.Минск</p>
            <p class="h6">&copy Все права защищены.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">МагазинЦветов</a></p>
          </div>
          </hr>
        </div>
      </div>
    </section>
    <!-- ./Footer -->
  </body>
</html>
